<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- Real value lives in Secrets.config, which is gitignored; see Secrets.config.example -->
  <appSettings file="Secrets.config">
    <add key="puerto" value="10000" />
    <add key="IP" value="127.0.0.1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CommandService" value="http://localhost:53632/Services/CommandService.svc"/>
    <add key="DeviceService" value="http://tausend.wearelomo.com/Services/DeviceService.svc"/>
    <add key="AccountService" value="http://localhost:53632/Services/AccountService.svc"/>
    <add key="NotificationService" value="http://localhost:53632/Services/NotificationService.svc"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TausendEndpointBehaviors">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="TausendServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Tausend.RelayServer.Services.PrivateService" behaviorConfiguration="TausendServiceBehaviors">
        <endpoint address="PrivateService" binding="webHttpBinding" behaviorConfiguration="TausendEndpointBehaviors" contract="Tausend.RelayServer.Services.IPrivateService"/>
        <!--<endpoint address="PrivateService" binding="netTcpBinding" contract="Tausend.RelayServer.Services.IPrivateService"/>-->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/" />
            <!--<add baseAddress="net.tcp:http://localhost:8090/" />-->  
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>